.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--font-color-default);
    padding: 25px;
    gap: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: min-content;
}