.button {
    object-fit: contain;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}