.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 8px;
    background-position: top;

    transition: background-color 1s linear;
    width: 100%;
    overflow: hidden;
}

.header,
.footer {
    display: flex;
    width: 100%;
    height: 80px;
    gap: 8px;
}

.body {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.linkBtn {
    transform: none;
    transition: transform 0.2s ease-out;
}

.linkBtn:hover {
    transform: translate3D(5px, 5px, 0px);
}

.linkBtn:active {
    transform: scale(1.2);
}

.linkBtn > img {
    fill: white;
}

/* left, center, right */

.header > .left,
.header > .center,
.header > .right {
    align-items: flex-start;
}

.footer > .left,
.footer > .center,
.footer > .right {
    align-items: flex-end;
}

.left,
.center,
.right {
    display: flex;
    flex: 1;
    gap: 8px;
    color: white;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.hiddenLayout {
    opacity: 0% !important;
    transform: translateY(10px) !important;
}

/* slider */
@media (min-width: 769px) {
    #brightness {
        writing-mode: vertical-lr;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    #brightness,
    #brightness::-webkit-slider-thumb,
    #brightness::-webkit-slider-runnable-track {
        -webkit-appearance: none;
    }
    
    #brightness::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: rgb(0, 182, 243);
        transform: translateX(-6px);
    }
    
    #brightness::-webkit-slider-thumb:hover {
        background-color: rgb(69, 206, 252);
    }
    
    #brightness::-webkit-slider-runnable-track {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255);
    }
}

@media (max-width: 768px) {
    .container {
        background-position: center;
    }

    .header > .left {
        flex-direction: column;
    }


    .linkBtn:hover {
        transform: none;
    }

    .linkBtn:active {
        transform: scale(1.2);
    }

    .lightnessController {
        display: none;
    }

    .weatherCard {
        display: none !important;
    }

    .footer {
        height: min-content;
    }
}

/* Phone */
@media (max-width: 480px) {
    .header {
        height: max-content;
        position: absolute;
        padding: 8px;
    }
    
    .header .left {
        flex: 0;
    }

    .header .right {
        flex: 0;
        width: min-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header .center .calender {
        height: 50px;
        text-align: center;
    }
}