.linkBtn {
    transform: none;
    transition: transform 0.2s ease-out;
}

.linkBtn:hover {
    transform: translate3D(5px, 5px, 0px);
}

.linkBtn:active {
    transform: scale(1.2);
}

.linkBtn > img {
    fill: white;
}

.hiddenLayout {
    opacity: 0% !important;
    transform: translateY(10px) !important;
    pointer-events: none;
}

@media (max-width: 768px) {
    .linkBtn:hover {
        transform: none;
    }

    .linkBtn:active {
        transform: scale(1.2);
    }
}