body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-dark);
}

::selection {
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: multiply;
    backdrop-filter: blur(50px);
}