:root {
    /* sizes */
    --size-4-1: 4px;
    --size-4-2: 8px;
    --size-4-3: 12px;
    --size-4-4: 16px;
    --size-4-5: 20px;
    --size-4-6: 24px;
    --size-4-7: 28px;
    --size-4-8: 32px;
    --size-4-9: 36px;
    --size-4-10: 40px;



    /* font sizes */
    --font-xs: 12px; /* 0.8rem */
    --font-s: 16px; /* 1rem */
    --font-m: 24px; /* 1.5rem */
    --font-l: 32px; /* 2rem */
    --font-xl: 48px; /* 3rem */
    --font-xxl: 96px;

    --font-title: var(--font-l); /* 32px */
    --font-small-title: var(--font-m); /* 24px */
    --font-desc: var(--font-s); /* 16px */

    --font-1: 8px; /* 0.5rem */
    --font-2: 12px; /* 0.8rem */
    --font-3: 16px; /* 1rem */
    --font-4: 20px; /* 1.2rem */
    --font-5: 24px; /* 1.5rem */
    --font-6: 48px; /* 3rem */
    --font-7: 80px; /* 5rem */
    --font-8: 160px; /* 10rem */

    /* colors */
    --color-red: #d0104c;
    --color-blue: #7AB2D3;
    --color-green: #86C166;
    --color-dark-green: #24936E;
    --color-yellow: #F7C242;
    --color-gold: #FFB11B;
    --color-dark: #1e1e1e;
    --color-black: #000;
    --color-white: #fff;

    --font-color-default: #FAF7F0;
    --font-color-dark: #758694;

    --shadow-black: rgba(0, 0, 0, 0.25);
    --shadow-white: rgba(255, 255, 255, 0.25);
}