:root {
    /* sizes */
    --size-4-1: 4px;
    --size-4-2: 8px;
    --size-4-3: 12px;
    --size-4-4: 16px;
    --size-4-5: 20px;
    --size-4-6: 24px;
    --size-4-7: 28px;
    --size-4-8: 32px;
    --size-4-9: 36px;
    --size-4-10: 40px;



    /* font sizes */
    --font-xs: 0.8rem;
    --font-s: 1rem;
    --font-m: 1.5rem;
    --font-l: 2rem;
    --font-xl: 3rem;

    --font-title: var(--font-l);
    --font-small-title: var(--font-m);
    --font-desc: var(--font-s);

    --font-1: 0.5rem;
    --font-2: 0.8rem;
    --font-3: 1rem;
    --font-4: 1.2rem;
    --font-5: 1.5rem;
    --font-6: 3rem;
    --font-7: 5rem;
    --font-8: 10rem;

    /* colors */
    --color-red: #d0104c;
    --color-blue: #58b2dc;
    --color-green: #86C166;
    --color-dark-green: #24936E;
    --color-yellow: #F7C242;
    --color-gold: #FFB11B;
    --color-dark: #1e1e1e;
    --color-black: #000;
    --color-white: #fff;
}