.calender {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    width: 100%;
}

.symbol, .date {
    font-size: 1rem;
    color: white;
    user-select: none;
}